
:root {
    --color-main: #212121;
    --color-p: #757575;
    --color-hover: #2196f3;
    --color-active: #188ce8;
    --color-studio: #000;
    --color-background: #2f303a;
    --color-hero: #fff;
    --color-background-light: #f5f4fa;
}
body {
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration-line: none;
}
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
}
*{
  box-sizing: border-box;
}
.conteiner {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    outline: 2px solid palevioletred;
}

/* HEADER*/
.logo {
    color: var(--color-studio);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.web {
    color: var(--color-hover);
}
.logo-footer {
    color: var(--color-hero);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.navigation, .adress {
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts {
    color: var(--color-p);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--color-hover);
}
.contacts:hover {
    color: var(--color-hover);
}

/*MAIN*/
.hero {
    background-color: var(--color-background);
    padding: 200px 0;
}
.hero-title{
    color: var(--color-hero);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px; /*Чи потрібен тут "margin: auto" по боках, чи його треба зробити "0", а за центрування буде відповідати "text-align: center"? */
}
.hero-button {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: var(--color-hero);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.06em;
    line-height: 1.87;
    background-color: var(--color-hover);
    padding: 10px 24px;
    border-width: 0px ;
    border-radius: 4px;
    margin: 0 auto;
}
.hero-button:active {
    background-color: var(--color-active);
    width: 216px;/*чи потрібна взагалі ця властивість?*/
}

/*SECTION-1*/
.section {
    padding: 94px 0;
}
.advances-box {
    outline: 2px solid teal;
    display: flex;
}
.advances-box > .advances:not(:last-child) {
    margin-right: 30px;
}
.advances {
    outline: 2px solid tomato;
    display: inline-block;
    width: 270px;
    height: 98px;
}
.advances-title {
    outline: 2px solid rgb(180, 178, 18);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.advances-text {
    outline: 2px solid maroon;
    color: var(--color-p);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.image-box {
    text-align: center;
}
.section-image {
    display: inline-block;
}
.team {
    background-color: var(--color-background-light);
    text-align: center;
}
.team-cards {
    display: inline-block;
    background-color: var(--color-hero);
}
.team-image {
    width: 270px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.post {
    color: var(--color-p);
    font-size: 16px;
    line-height: 1.19;
}
footer {
    background-color: var(--color-background);
}
.adress {
    color: var(--color-hero);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contacts-footer:hover {
    color: var(--color-hover);
}
.contacts-footer:focus {
    color: var(--color-hover);
}
.filter {
    color: var(--color-main);
    background: var(--color-background-light);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-color: var(--color-background-light);
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
}
.filter:active {
    color: var(--color-hero);
    background-color: var(--color-hover);
}
.filter:focus {
    color: var(--color-hero);
    background-color: var(--color-hover);
}
.filter:hover {
    color: var(--color-hero);
    background-color: var(--color-hover);
}
.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type {
    color: var(--color-p);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}